* {
    margin: 0;
    padding: 0;
    /*防止点击闪烁*/
    -webkit-tap-highlight-color: transparent;
    /*缩放网页，文字大小不变*/
    -webkit-text-size-adjust: none;
    font-family: PingFangSC-Regular, Microsoft Yahei;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-weight: normal;
}

/*修复img默认位置和IE边框*/
img {
    vertical-align: top;
    border: none;
}

/*去除虚线*/
/* input:focus, */
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: none;
}
button, select, input {
    padding: 0;
    -webkit-appearance: none;
    background: none;
    border: none;
    margin: 0;
}

/*重置部分表单圆角和内阴影*/
input[type="text"],
input[type="file"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea {
    -webkit-appearance: none;
}

/*去除文本框上下箭头*/
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}
/*设置iconfont标签font-famile*/
[class^="icon-"],
[class*=" icon-"] {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    /*ios禁止页面在新窗口打开*/
    -webkit-touch-callout: none;
}

p {
    margin: 0;
}

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

html,
body {
    height: 100%;
}


button {
    border: none;
    background: none;
}


.empty-div{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-flow: column;
}
.empty-div img{
    width: 100px;
    height: 100px;
}


/* mint */

.popup-diy-title{
    text-align: center;
    font-size: 2rem;
    padding: 5px 0;
    border-bottom: 1px solid #cccbcb;
}
.mint-popup-bottom{
    border-radius: 20px 20px 0 0 !important;
    top: 20px!important;
    width: 100% !important;
}
.popup-button{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
  }
  .popup-button button{
    width: 40%;
  }

.mint-tabbar {
    position: fixed !important;
    z-index: 999 !important;
}
.amap-icon img{
    border-radius: 50%;
}
.mint-toast{
    z-index: 9999 !important;
}
.mint-header{
    height:3rem !important;
    font-size: 2.5rem !important;
}

.mint-cell-wrapper,.mint-cell-value{
    font-size: 1.4rem !important;
}

.mint-popup{
    width: 90%;
  }
  .mint-cell-text{
    font-size: 1.4rem !important;
  }
.mytoast-warn{
    background-color: #fef0f0 !important;
border-color: #fde2e2 !important;
    /* box-shadow: 2px 3px 8px #888888 !important; */
}
.mytoast-warn span{
    color: #e03a3a !important;
}